#selected {
  background-color: #BFA514;
}

.favs-button {
  width: 80%;
  height: 50px;
  margin-top: 15px;
  font-size: 1.4em;
}

.favs-card {
  padding: 2px;
  background-color: #6B2427; 
  font-size: 3em;
  width: 20%;
  height: 60px;
  border-radius: 50%;
  border: none;
}

.Button {
  margin: 25px;
  width: 200px;
  height: 60px;
  font-size: 2em;
  background-color: #FFD700;

}