.card {
  color: #9FB7B5;
  display: inline-flex;
  flex-direction: column;
  width: 23%;
  margin: 7px;
}

.planet, 
.people,
.vehicle {
  border-radius: 40px;
  width: 100%;
  background-color: #000000e8;
}

.planet {
  height: 630px;
}

.planets .detail {
  font-size: 15px;
}

.people {
  height: 350px;
}

.vehicle {
  height: 400px;
}

.detail {
  color: #9FB7B5;
  margin: 25px auto;
  font-size: 1.5em;
}