.card {
  display: inline-flex;
  flex-direction: column;
  width: 20%;
}

.planets {
  width: 80%;
  background-color: green;
}

.people {
  background-color: magenta;
}

.vehicle {
  background-color: purple;
}